/* Start Global Variables*/
:root {
    --mainColor: springgreen;
    --paddingSection: 60px;
}

/* End Global Variables*/



body {
    font-family: 'Work Sans', sans-serif;
    
}
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}





.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    

}

/* End Global Rules*/
/* Start Compennet*/
.special-heading {
    color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}

.special-heading + p {
    margin-top: -30px;
    color: #797979;
    text-align: center;
    font-size: 20px;
}

@media (max-width: 700px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -8px;
    }
}

/* End Compennet*/
/* small Screen*/


@media (min-width: 770px) {
    .container {
        width: 760;
    }
}

/* meduim Screen  */
@media (min-width: 992) {
    .container {
        width: 970;
    }
}

/* large Screen */

@media (min-width:1000px){
    .container {
        width: 980px;
    }
}

*/

/*Start Header Style*/
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .logo {
    width: 60px;
    padding-bottom: 10px;
}

.header .links {
    position: relative;
    

    
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    
    
    
}

.links .icon span {
    background-color: black;
    margin-bottom: 10px;
    height: 3px;
}


.links .icon span:first-child {
    width: 100%;
    
}

.links .icon span:nth-child(2) {
    width: 60%;
    transition: width 0.3s;
}
.links .icon span:last-child {
    width: 100%;
  
}

.header .links ul {
    min-width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right:0;
    background-color: gray;
    top: calc(100% + 5px);
    transition: 0.5s;
    /*display: none;*/
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    
    
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent gray transparent;
    position: absolute;
    right: 5px;
    top: -20px;
    
}
.header .links:hover ul {
    /*display: block;*/
    visibility: visible;
    opacity: 1;
    
}


.header .links ul li a {
    text-decoration: none;
    display: block;
    padding: 15px;
    font-weight: 800;
    transition: 0.5s;
    color: blue;
    
}

.header .links ul li a:hover {
    padding-left: 25px;
}

.header .links ul li:not(:last-child) a  {
    border-bottom: 3px solid #ddd;
}

/*End Header Style*/

/* Start Lading Style*/

.landing {
    background-image: url("../images/landing.jpg");
    background-size: cover;
    height: calc(100vh - 82px);
    
    
}

.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 320px;
}

.intro-text h1 {
    margin: 0;
    color: var(--mainColor);
    font-size: 50px;
    font-weight: bold;
   
}

.intro-text p {
    font-size: 19px;
    line-height: 1.8;
    color: #fff;
    
}
/* End Lading Style*/

/* Start Featuers Style*/
.features {
  margin: 15px;
  padding-top: var(--paddingSection);
  padding-bottom: var(--paddingSection);
  background-color: #f6f6f6;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 20px;
     
}
.features .feat {
  padding: 20px;
  text-align: center;
}
.features .feat i {
  color: var(--mainColor);
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}

/* End Featuers Style*/

/* Start Services Style */
.services {
    padding-top: var(--paddingSection);
    padding-bottom: var(--paddingSection);
}

.services-container {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-areas: "gra-design web-design img-design"
                         "ui-ux web-dev img-design";
    grid-gap: 20px;
    
}

@media (max-width: 440px) {
    .services-container {
         grid-template-columns: 1fr;
         grid-template-areas: "gra-design"  "web-design"  "ui-ux"                          "web-dev" "img-design" "img-design";
        
    }
    .services-container .my-img {
        display: none;
    }
}

.services-container .gra-design {
    grid-area: gra-design;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.services-container .web-design {
    grid-area: web-design;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.services-container .ui-ux {
    grid-area: ui-ux;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.services-container .web-dev {
    grid-area: web-dev;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.services-container .my-img {
    grid-area: img-design;
    position: relative;
}

.services-container .my-img img {
    width: 200px;
    height: 100%;
    
}
.services-container .my-img::before {
    content: "";
    position: absolute;
    right: -10px;
    top: -10%;
    height: 120%;
    width: 80px;
    background-color: gray;
    z-index: -1;
}

.services-container .head-para .h3-ser {
    margin: 0;
    font-size: 20px;
    font-weight: 800;
    
}

.services-container .head-para .par-ser {
    font-size: 17px;
    color:darkgray;
}

.services-container .sub-icon {
    font-size: 30px;
    color: var(--mainColor);
    padding-top: 5px;
}

/* End Services Style*/

/* Start Portfolio Style*/
.portfolio {
    padding-top: var(--paddingSection);
    padding-bottom: var(--paddingSection);
    background-color: #f6f6f6;
}

.portfolio .container .cards-content {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 15px;
    
}
.portfolio .container .cards-content .card {
    
    background-color: white;
}

.portfolio .container .cards-content img {
    width: 100%;
    height: 50%;
}
.portfolio .card .info {
    padding: 10px;
}



.portfolio .container .cards-content h3 {
    margin: 0;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 800;
    
    
}

.portfolio .container .cards-content p {
    line-height: 1.6;
    color: #777;
    margin-bottom: 0;
}


/* End Portfolio Style*/

/* Start About Style*/

.about {
    padding-top: var(--paddingSection);
    padding-bottom: var(--paddingSection);
}

.about .container .about-content {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    
}

.about .container .about-content .part-img {
    width: 90%;
    padding: 30px;
    position: relative;
    
}
.about .container .about-content .part-text {
    width: 60%;
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
    
    
}

.about .container .about-content .part-img{
    position: relative;
    width: 50%;
    
    
    
}

.about .container .about-content .part-img .div-img {
    
    position: relative; 

}

.about .container .about-content .part-img .div-img img {
    width: 60%;
    
    
}


.about .container .about-content .part-img .div-img {
    position: relative;
    
}

.about .container .about-content .part-img .div-img::after {
    content: "";
    position: absolute;
    top: -10%;
    left: -20px;
    background-color: darkgray;
    width: 20%;
    height: 120%;
    z-index: -1;
    
}

.about .container .about-content .part-img .div-img::before {
    content: "";
    position: absolute;
    top: -10%;
    right: 35%;
    background-color: lightseagreen;
    width: 20%;
    height: 87%;
    z-index: -1;
    
    
}

.about .container .about-content .part-img::before {
    content: "";
    position: absolute;
    bottom: 30%;
    right: 25% ;
    background-color: lightseagreen;
    width: 20%;
    height: 15%;
    z-index: -1;
    
}

.about .container .about-content .part-text p {
    line-height: 1.7;
    font-size: 17px;
    font-weight: 700;
    margin: 0;
   
}
.about .container .about-content .part-text hr {
    width: 50%;
    height: 1px;
    background-color: lightseagreen;
    font-weight: 700;
    /*position: absolute;
    top: 50%;
    left:30px;*/
    
    
    
    
}



.about .container .about-content .part-text p:last-child {
    color: #797979;
    margin: 0;
}

@media (max-width: 440px) {
    .about .container .about-content .part-text {
        width: 100%;
    }
    .about .container .about-content .part-img {
        display: none;
    }
    
}













/* End About Style*/
